In [60]:
import gmaps
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [61]:
combined_data = pd.read_csv('Combineddata.csv')
combined_data.City=combined_data.City.map(lambda x: x.upper())
combined_data.head()

,Unnamed: 0,Zillow Id,Zestimate,Street,City,ZipCode,lastSold,Bedrooms,typeofhome,Squareft,YearBuilt,CountTax,Latitude,Longitude,LastSoldDate,Z_index,LastSold,Zindex
0,0,93123448,345560.0,256 Buckshot Ln,TIGER,30576.0,"OrderedDict([('@currency', 'USD'), ('#text', '...",4.0,SingleFamily,4200.0,2001.0,290723.0,34.822040,-83.446890,10/1/2002,"165,300",285000.0,"OrderedDict([('@id', '14139'), ('@name', 'Tige..."
1,1,82452558,155747.0,65 Sunrise Dr,GRANTVILLE,30220.0,"OrderedDict([('@currency', 'USD'), ('#text', '...",4.0,SingleFamily,1496.0,2006.0,118800.0,33.229140,-84.825290,11/19/2010,"113,700",54000.0,"OrderedDict([('@id', '45530'), ('@name', 'Gran..."
2,2,111793656,58879.0,2085 Jackson Rd,ROBERTA,31078.0,"OrderedDict([('@currency', 'USD'), ('#text', '...",3.0,Mobile,1152.0,1995.0,57838.0,32.692290,-83.950920,2/12/2018,NaN,56750.0,"OrderedDict([('@id', '18858'), ('@name', 'Knox..."
3,3,2139757076,150542.0,6301 Chief O F Love Rd B-5,SAVANNAH,31419.0,NaN,2.0,Condominium,1300.0,2008.0,NaN,31.993879,-81.281182,NaN,NaN,NaN,"OrderedDict([('@id', '763636'), ('@name', 'The..."
4,4,221933009,233334.0,1900 Bell Ln,BRASELTON,30517.0,"OrderedDict([('@currency', 'USD'), ('#text', '...",0.0,SingleFamily,2653.0,2006.0,192468.0,34.108109,-83.790392,5/26/2017,"275,900",210999.0,"OrderedDict([('@id', '41949'), ('@name', 'Bras..."

In [62]:
combined_data_selected=combined_data[['Zestimate', 'City','ZipCode','Street','Bedrooms', 'LastSoldDate','typeofhome', 
                                      'Squareft', 'YearBuilt', 'CountTax','LastSold','Z_index','Longitude','Latitude']]

In [76]:
combined_data_selected.head()

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude
0,345560.0,TIGER,30576.0,256 Buckshot Ln,4.0,10/1/2002,SingleFamily,4200.0,2001.0,290723.0,285000.0,"165,300",-83.446890,34.822040
1,155747.0,GRANTVILLE,30220.0,65 Sunrise Dr,4.0,11/19/2010,SingleFamily,1496.0,2006.0,118800.0,54000.0,"113,700",-84.825290,33.229140
2,58879.0,ROBERTA,31078.0,2085 Jackson Rd,3.0,2/12/2018,Mobile,1152.0,1995.0,57838.0,56750.0,NaN,-83.950920,32.692290
3,150542.0,SAVANNAH,31419.0,6301 Chief O F Love Rd B-5,2.0,NaN,Condominium,1300.0,2008.0,NaN,NaN,NaN,-81.281182,31.993879
4,233334.0,BRASELTON,30517.0,1900 Bell Ln,0.0,5/26/2017,SingleFamily,2653.0,2006.0,192468.0,210999.0,"275,900",-83.790392,34.108109

In [77]:
df4=combined_data_selected.dropna(how='any')

In [88]:
df4['Difference']=((df4['LastSold']-df3['Zestimate'])/df4['Zestimate'])*100
df4['Market Value']=2.5*df4['CountTax']
df4['Market Value diff']=((df4['LastSold']-df4['Market Value'])/df4['Market Value'])*100
df4.head()

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude,Difference,Market Value,Market Value diff,YearSold,Two Year Difference
420,2636820.0,CANTON,30115.0,4251 Holly Springs Pkwy,3.0,4/17/2018,SingleFamily,1568.0,1970,1039900.0,6000000.0,"193,700",-84.508419,34.152355,127.546818,2599750.0,130.791422,2018,2016
1745,243387.0,ATHENS,30606.0,555 Red Bluff Dr,4.0,9/7/2017,SingleFamily,2828.0,1970,30000.0,391397.0,"149,300",-83.447472,33.993147,60.812615,75000.0,421.862667,2017,2016
3705,145023.0,AUSTELL,30168.0,1138 Summerstone Trce,3.0,11/13/2017,SingleFamily,1500.0,1970,99170.0,627527.0,"132,100",-84.585791,33.776927,332.708605,247925.0,153.111626,2017,2016
4123,483646.0,TYRONE,30290.0,153 Kenmare Row,5.0,10/25/2017,SingleFamily,3900.0,1970,75000.0,529900.0,"278,900",-84.621488,33.454599,9.563606,187500.0,182.613333,2017,2016

In [79]:
df4['LastSoldDate'].astype(date)
df4['YearSold']= pd.to_datetime(df4['LastSoldDate']).dt.to_period('y')
df4['YearBuilt']=pd.to_datetime(df4['YearBuilt']).dt.to_period('y')

C:\Users\Darwin\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Darwin\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [80]:

df3['Two Year Difference']=date.today()-relativedelta(years=+2)
df3['Two Year Difference']=pd.to_datetime(df3['Two Year Difference']).dt.to_period('y')
df3.head()

C:\Users\Darwin\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Darwin\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude,Difference,Market Value,Market Value diff,YearSold,Two Year Difference
0,345560.0,TIGER,30576.0,256 Buckshot Ln,4.0,10/1/2002,SingleFamily,4200.0,1970,290723.0,285000.0,"165,300",-83.446890,34.822040,-17.525177,726807.5,-60.787416,2002,2016
1,155747.0,GRANTVILLE,30220.0,65 Sunrise Dr,4.0,11/19/2010,SingleFamily,1496.0,1970,118800.0,54000.0,"113,700",-84.825290,33.229140,-65.328385,297000.0,-81.818182,2010,2016
4,233334.0,BRASELTON,30517.0,1900 Bell Ln,0.0,5/26/2017,SingleFamily,2653.0,1970,192468.0,210999.0,"275,900",-83.790392,34.108109,-9.572116,481170.0,-56.148762,2017,2016
11,57489.0,ALBANY,31705.0,4860 Pinto Dr,3.0,2/23/2016,SingleFamily,1375.0,1970,62000.0,58000.0,"82,500",-84.102703,31.460254,0.888866,155000.0,-62.580645,2016,2016
16,211563.0,NORCROSS,30093.0,765 Kenneth Ln,3.0,2/2/1999,SingleFamily,2327.0,1970,171200.0,132000.0,"149,300",-84.179266,33.889257,-37.607238,428000.0,-69.158879,1999,2016

In [81]:
df3=df3[df3['LastSold']>30000]
df3=df3[df3['YearSold']>df3['YearBuilt']]
df3=df3[df3['YearSold']>df3['Two Year Difference']]
df3.sort_values('Difference',ascending=False)

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude,Difference,Market Value,Market Value diff,YearSold,Two Year Difference
1386,160077.0,OAKWOOD,30566.0,4121 Pebble Creek Ln,4.0,6/2/2017,Triplex,1817.0,1970,58315.0,1900000.0,"139,100",-83.886883,34.226880,1086.928791,145787.5,1203.266741,2017,2016
4751,92365.0,RIVERDALE,30274.0,8610 Thomas Ln,3.0,05/31/2017,Townhouse,1530.0,1970,56654.0,770000.0,"87,300",-84.409278,33.521217,733.649110,141635.0,443.650934,2017,2016
3705,145023.0,AUSTELL,30168.0,1138 Summerstone Trce,3.0,11/13/2017,SingleFamily,1500.0,1970,99170.0,627527.0,"132,100",-84.585791,33.776927,332.708605,247925.0,153.111626,2017,2016
420,2636820.0,CANTON,30115.0,4251 Holly Springs Pkwy,3.0,4/17/2018,SingleFamily,1568.0,1970,1039900.0,6000000.0,"193,700",-84.508419,34.152355,127.546818,2599750.0,130.791422,2018,2016
1745,243387.0,ATHENS,30606.0,555 Red Bluff Dr,4.0,9/7/2017,SingleFamily,2828.0,1970,30000.0,391397.0,"149,300",-83.447472,33.993147,60.812615,75000.0,421.862667,2017,2016
944,122569.0,FLINTSTONE,30725.0,512 Cottontail Holw,2.0,2/9/2018,SingleFamily,1040.0,1970,79992.0,168000.0,"110,300",-85.375097,34.899111,37.065653,199980.0,-15.991599,2018,2016
312,376123.0,CUMMING,30028.0,8926 Ball Ground Rd,3.0,8/30/2017,SingleFamily,2024.0,1970,268900.0,483000.0,"281,800",-84.288707,34.241066,28.415439,672250.0,-28.151729,2017,2016
1451,181587.0,CLARKESVILLE,30523.0,289 N Laurel Dr,4.0,8/25/2017,SingleFamily,2100.0,1970,131100.0,225000.0,"164,900",-83.518300,34.610365,23.907548,327750.0,-31.350114,2017,2016
2363,297584.0,SOCIAL CIRCLE,30025.0,373 Highway 11 S,3.0,1/30/2018,SingleFamily,2990.0,1970,190500.0,350000.0,"160,000",-83.746502,33.589146,17.613850,476250.0,-26.509186,2018,2016
5610,221989.0,PINE MOUNTAIN,31822.0,14 Skymeadow Dr,3.0,05/04/2018,SingleFamily,2310.0,1970,180875.0,255000.0,"141,400",-84.872432,32.849930,14.870557,452187.5,-43.607464,2018,2016
2134,286984.0,NICHOLSON,30565.0,966 Loyd Nelms Rd,4.0,9/14/2018,SingleFamily,2806.0,1970,158831.0,325000.0,"145,400",-83.368970,34.078514,13.246732,397077.5,-18.151998,2018,2016
2400,336630.0,SENOIA,30276.0,517 Rowe Rd,4.0,8/31/2017,SingleFamily,2484.0,1970,286196.0,380655.0,"193,800",-84.546363,33.234372,13.078157,715490.0,-46.797999,2017,2016
4785,260576.0,SAVANNAH,31410.0,121 Chatsworth Rd,3.0,07/13/2017,SingleFamily,1776.0,1970,148600.0,293500.0,"242,100",-80.982808,31.992959,12.635085,371500.0,-20.995962,2017,2016
5269,296955.0,EUHARLEE,30145.0,11 Riverview Trl,5.0,7/18/2017,SingleFamily,2644.0,1970,300998.0,329900.0,"133,400",-84.924007,34.156811,11.094274,752495.0,-56.159177,2017,2016
4123,483646.0,TYRONE,30290.0,153 Kenmare Row,5.0,10/25/2017,SingleFamily,3900.0,1970,75000.0,529900.0,"278,900",-84.621488,33.454599,9.563606,187500.0,182.613333,2017,2016
1087,220090.0,TEMPLE,30179.0,1041 Oak Grove Rd,3.0,7/21/2017,SingleFamily,1653.0,1970,150409.0,240000.0,"119,900",-85.043935,33.677949,9.046299,376022.5,-36.174032,2017,2016
3881,204385.0,MARIETTA,30060.0,824 Grindstone Ct SW,3.0,07/27/2018,SingleFamily,1413.0,1970,143960.0,220000.0,"255,900",-84.577198,33.876531,7.639993,359900.0,-38.871909,2018,2016
1715,325394.0,NEWNAN,30263.0,2320 Bohannon Rd,3.0,8/14/2018,SingleFamily,2428.0,1970,178278.0,350000.0,"113,700",-84.884174,33.278709,7.561910,445695.0,-21.470961,2018,2016
1299,100560.0,ALLENHURST,31301.0,24 David Ln SE,4.0,11/3/2017,SingleFamily,1100.0,1970,79923.0,107000.0,"116,100",-81.627667,31.758024,6.404137,199807.5,-46.448457,2017,2016
579,99879.0,MARIETTA,30008.0,3812 Mulkey Cir SW,3.0,12/22/2017,Condominium,1216.0,1970,44440.0,105000.0,"132,100",-84.607259,33.860541,5.127204,111100.0,-5.490549,2017,2016
4524,80923.0,MARIETTA,30067.0,1960 Spectrum Cir SE APT 515,1.0,04/16/2018,Condominium,780.0,1970,56050.0,85000.0,"255,900",-84.468178,33.905219,5.038123,140125.0,-39.339875,2018,2016
3796,200899.0,TUCKER,30084.0,3521 Canadian Way,3.0,06/29/2018,SingleFamily,1125.0,1970,134200.0,210000.0,"209,700",-84.244359,33.823666,4.530137,335500.0,-37.406855,2018,2016
3737,480749.0,ROSWELL,30076.0,8480 Edwardton Dr,5.0,06/02/2017,SingleFamily,3401.0,1970,343100.0,502500.0,"360,900",-84.279581,33.986931,4.524398,857750.0,-41.416497,2017,2016
3015,215794.0,WALESKA,30183.0,122 Indian Ridge Way,3.0,07/13/2018,SingleFamily,1896.0,1970,129600.0,225000.0,"186,000",-84.600963,34.300889,4.266106,324000.0,-30.555556,2018,2016
2254,313673.0,WHITE,30184.0,126 Wilderness Camp Rd SE,3.0,4/21/2017,SingleFamily,2406.0,1970,226300.0,325000.0,"141,500",-84.699180,34.208633,3.611085,565750.0,-42.554132,2017,2016
5326,327833.0,BUFORD,30519.0,2157 Roberts View Trl,5.0,8/2/2018,SingleFamily,4100.0,1970,271300.0,338000.0,"237,800",-83.947939,34.038565,3.101274,678250.0,-50.165868,2018,2016
237,775333.0,AVONDALE ESTATES,30002.0,78 Clarendon Ave,5.0,8/31/2017,SingleFamily,2960.0,1970,475200.0,798500.0,"340,700",-84.266913,33.768333,2.988006,1188000.0,-32.786195,2017,2016
4642,120690.0,ALBANY,31721.0,2607 Calvary Rd,3.0,01/20/2017,SingleFamily,1590.0,1970,125600.0,124000.0,"82,500",-84.214936,31.450515,2.742564,314000.0,-60.509554,2017,2016
2832,150913.0,AUSTELL,30168.0,7241 Bridgeport Ct,3.0,07/11/2017,SingleFamily,1500.0,1970,120800.0,155000.0,"132,100",-84.598179,33.778178,2.708183,302000.0,-48.675497,2017,2016
515,140749.0,GRIFFIN,30224.0,2651 S Walkers Mill Rd,3.0,9/14/2017,SingleFamily,1700.0,1970,82221.0,144070.0,"101,600",-84.203195,33.184085,2.359519,205552.5,-29.910850,2017,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5522,188025.0,KENNESAW,30152.0,349 Teague Dr NW,3.0,05/31/2017,SingleFamily,1350.0,1970,133280.0,158000.0,"147,900",-84.721805,33.963823,-15.968621,333200.0,-52.581032,2017,2016
1842,381186.0,FAYETTEVILLE,30214.0,120 Old Plantation Way,4.0,3/21/2018,SingleFamily,5709.0,1970,466450.0,320000.0,"228,300",-84.551097,33.441744,-16.051481,1166125.0,-72.558688,2018,2016
4922,226225.0,DOUGLASVILLE,30134.0,8990 Par Dr,5.0,4/30/2017,SingleFamily,2354.0,1970,205200.0,189900.0,"140,700",-84.744003,33.737544,-16.057023,513000.0,-62.982456,2017,2016
1211,297066.0,ATLANTA,30342.0,39 Ivy Gates NE,2.0,3/2/2017,Townhouse,1588.0,1970,168300.0,249000.0,"520,400",-84.379977,33.857514,-16.180243,420750.0,-40.819964,2017,2016
3226,483849.0,ALPHARETTA,30005.0,390 Park Creek Dr,4.0,01/30/2017,SingleFamily,3408.0,1970,387800.0,405500.0,"387,100",-84.237580,34.062556,-16.192862,969500.0,-58.174317,2017,2016
1683,325920.0,ATHENS,30607.0,205 Boundary St,3.0,4/19/2017,SingleFamily,3254.0,1970,274883.0,272000.0,"149,300",-83.445882,33.991533,-16.543937,687207.5,-60.419524,2017,2016
5650,180983.0,MARIETTA,30060.0,3353 Pioneer Trl SW,3.0,04/24/2017,SingleFamily,1350.0,1970,107910.0,150000.0,"255,900",-84.579983,33.872642,-17.119287,269775.0,-44.398110,2017,2016
1860,231892.0,NORCROSS,30093.0,805 Omaha Dr,4.0,7/3/2017,SingleFamily,2450.0,1970,132900.0,189900.0,"149,300",-84.190248,33.884231,-18.108430,332250.0,-42.844244,2017,2016
2654,222828.0,PEACHTREE CITY,30269.0,203 Bella Rosa,3.0,01/03/2017,SingleFamily,1246.0,1970,169800.0,182000.0,"313,700",-84.532035,33.352795,-18.322652,424500.0,-57.126031,2017,2016
3004,150604.0,MARTINEZ,30907.0,356 Kings Bridge Rd,3.0,09/18/2017,SingleFamily,1863.0,1970,157244.0,121000.0,"148,600",-82.129525,33.490384,-19.656848,393110.0,-69.219811,2017,2016
4699,1246918.0,ATLANTA,30305.0,3278 Northside Dr NW,4.0,01/26/2017,SingleFamily,3485.0,1970,857500.0,1000000.0,"1,017,200",-84.407042,33.845002,-19.802264,2143750.0,-53.352770,2017,2016
2771,142397.0,OAKWOOD,30566.0,5729 Meadow Dr,2.0,05/24/2017,SingleFamily,1520.0,1970,91878.0,114000.0,"139,100",-83.908690,34.214445,-19.942134,229695.0,-50.368968,2017,2016
3128,125120.0,CONYERS,30012.0,1057 Pine St NE,3.0,06/08/2017,SingleFamily,2358.0,1970,82300.0,100125.0,"134,200",-84.012722,33.666800,-19.976822,205750.0,-51.336574,2017,2016
4184,520110.0,MURRAYVILLE,30564.0,8098 Beachwood Dr,4.0,03/29/2017,SingleFamily,2049.0,1970,363700.0,412300.0,"175,600",-83.983140,34.412647,-20.728307,909250.0,-54.654935,2017,2016
2032,84436.0,COMER,30629.0,1330 Hill St,3.0,10/27/2017,SingleFamily,1200.0,1970,90422.0,65000.0,"112,400",-83.096942,34.081131,-23.018618,226055.0,-71.245936,2017,2016
5030,209324.0,ACWORTH,30102.0,1901 Shadbark Ct NW,4.0,2/12/2018,SingleFamily,2336.0,1970,148390.0,161000.0,"199,000",-84.601822,34.065174,-23.085743,370975.0,-56.600849,2018,2016
5618,637781.0,TYBEE ISLAND,31328.0,1508 5th Ave UNIT A,4.0,04/14/2017,SingleFamily,2122.0,1970,408500.0,490000.0,"382,700",-80.852426,31.994405,-23.171120,1021250.0,-52.019584,2017,2016
4545,121074.0,MCDONOUGH,30252.0,425 Laney Rd,3.0,09/19/2017,SingleFamily,1456.0,1970,92000.0,92000.0,"166,800",-84.065156,33.409518,-24.013413,230000.0,-60.000000,2017,2016
304,53561.0,TUNNEL HILL,30755.0,901 Raygan Dr,4.0,1/3/2018,SingleFamily,1296.0,1970,71176.0,40000.0,"113,000",-85.054793,34.832588,-25.318795,177940.0,-77.520513,2018,2016
2048,379674.0,MARIETTA,30068.0,3035 Gant Quarters Cir,4.0,6/27/2018,SingleFamily,2408.0,1970,319950.0,283000.0,"255,900",-84.467993,33.949630,-25.462370,799875.0,-64.619472,2018,2016
2878,134278.0,REX,30273.0,7119 New Dale Rd,3.0,09/13/2017,SingleFamily,1305.0,1970,91324.0,99900.0,"139,300",-84.276435,33.559791,-25.602109,228310.0,-56.243704,2017,2016
2357,126027.0,MACON,31216.0,3370 S Walden Rd,3.0,5/26/2017,SingleFamily,1584.0,1970,97976.0,92600.0,"70,400",-83.679634,32.705906,-26.523681,244940.0,-62.194823,2017,2016
1791,259291.0,VALDOSTA,31605.0,3219 Wildwood Plantation Cir,5.0,6/5/2018,SingleFamily,2983.0,1970,222447.0,178200.0,"117,800",-83.302942,30.881903,-31.274128,556117.5,-67.956412,2018,2016
3003,196113.0,CONYERS,30094.0,5266 Deer Run Dr SW,5.0,10/20/2017,SingleFamily,2889.0,1970,146000.0,130000.0,"134,200",-84.043029,33.548506,-33.711687,365000.0,-64.383562,2017,2016
3520,132496.0,WOODSTOCK,30188.0,5136 Hill Farm Dr NE,3.0,03/16/2018,SingleFamily,1304.0,1970,88980.0,82000.0,"213,400",-84.527400,34.073719,-38.111339,222450.0,-63.137784,2018,2016
3756,131189.0,MARTINEZ,30907.0,4564 Colonial Rd,3.0,04/10/2018,SingleFamily,1386.0,1970,120744.0,45000.0,"148,600",-82.149165,33.490358,-65.698344,301860.0,-85.092427,2018,2016
4904,126251.0,FAIRMOUNT,30139.0,5026 Highway 411 NE,3.0,3/27/2017,SingleFamily,1576.0,1970,69188.0,42000.0,"120,000",-84.707686,34.401159,-66.732937,172970.0,-75.718333,2017,2016
3129,113042.0,ATLANTA,30314.0,998 Ashby Grv SW,3.0,06/09/2017,SingleFamily,1331.0,1970,25000.0,31000.0,"55,700",-84.420373,33.749656,-72.576564,62500.0,-50.400000,2017,2016
3079,280753.0,SNELLVILLE,30039.0,1470 Anderson Valley Dr,5.0,06/01/2017,SingleFamily,1535.0,1970,15023.0,64236.0,"114,300",-84.041142,33.749409,-77.120102,37557.5,71.033748,2017,2016
2531,184865.0,GROVETOWN,30813.0,5379 Cemetery Rd,5.0,08/13/2018,SingleFamily,2490.0,1970,24218.0,35000.0,"147,400",-82.216997,33.425798,-81.067265,60545.0,-42.191758,2018,2016

In [82]:
# mean_diff4= df2[df2['Market Value diff']>0]
df3=df3[df3['Market Value diff'] > 0]

dselect = ['SingleFamily']
df3= df3[df3.typeofhome.isin(dselect)]
df3

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude,Difference,Market Value,Market Value diff,YearSold,Two Year Difference
123,265330.0,LAWRENCEVILLE,30046.0,677 Channel Ln,4.0,3/6/2018,SingleFamily,2290.0,1970,36000.0,259900.0,"187,200",-83.992498,33.922740,-2.046508,90000.0,188.777778,2018,2016
420,2636820.0,CANTON,30115.0,4251 Holly Springs Pkwy,3.0,4/17/2018,SingleFamily,1568.0,1970,1039900.0,6000000.0,"193,700",-84.508419,34.152355,127.546818,2599750.0,130.791422,2018,2016
1745,243387.0,ATHENS,30606.0,555 Red Bluff Dr,4.0,9/7/2017,SingleFamily,2828.0,1970,30000.0,391397.0,"149,300",-83.447472,33.993147,60.812615,75000.0,421.862667,2017,2016
2089,450766.0,BONAIRE,31005.0,701 Summer Ct,4.0,5/8/2017,SingleFamily,3648.0,1970,133500.0,429844.0,"149,400",-83.561463,32.520977,-4.641433,333750.0,28.792210,2017,2016
3079,280753.0,SNELLVILLE,30039.0,1470 Anderson Valley Dr,5.0,06/01/2017,SingleFamily,1535.0,1970,15023.0,64236.0,"114,300",-84.041142,33.749409,-77.120102,37557.5,71.033748,2017,2016
3705,145023.0,AUSTELL,30168.0,1138 Summerstone Trce,3.0,11/13/2017,SingleFamily,1500.0,1970,99170.0,627527.0,"132,100",-84.585791,33.776927,332.708605,247925.0,153.111626,2017,2016
4123,483646.0,TYRONE,30290.0,153 Kenmare Row,5.0,10/25/2017,SingleFamily,3900.0,1970,75000.0,529900.0,"278,900",-84.621488,33.454599,9.563606,187500.0,182.613333,2017,2016

In [84]:
mean_diff=df3.groupby(['City','ZipCode'])['Market Value diff'].mean().reset_index()
# mean_diff=mean_diff.rename(columns={'Two Year':'Diff_mean'})
mean_diff = mean_diff.sort_values(['Market Value diff','City','ZipCode'], ascending=[False,True,True])

mean_diff.head(20)

            City  ZipCode  Market Value diff
0         ATHENS  30606.0         421.862667
4  LAWRENCEVILLE  30046.0         188.777778
6         TYRONE  30290.0         182.613333
1        AUSTELL  30168.0         153.111626
3         CANTON  30115.0         130.791422
5     SNELLVILLE  30039.0          71.033748
2        BONAIRE  31005.0          28.792210

In [87]:
# mean_diff4= df2[df2['Market Value di']>0]
df4=df3[df3['Difference'] > 0]

dselect = ['SingleFamily']
df4= df3[df3.typeofhome.isin(dselect)]
df4

,Zestimate,City,ZipCode,Street,Bedrooms,LastSoldDate,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index,Longitude,Latitude,Difference,Market Value,Market Value diff,YearSold,Two Year Difference
420,2636820.0,CANTON,30115.0,4251 Holly Springs Pkwy,3.0,4/17/2018,SingleFamily,1568.0,1970,1039900.0,6000000.0,"193,700",-84.508419,34.152355,127.546818,2599750.0,130.791422,2018,2016
1745,243387.0,ATHENS,30606.0,555 Red Bluff Dr,4.0,9/7/2017,SingleFamily,2828.0,1970,30000.0,391397.0,"149,300",-83.447472,33.993147,60.812615,75000.0,421.862667,2017,2016
3705,145023.0,AUSTELL,30168.0,1138 Summerstone Trce,3.0,11/13/2017,SingleFamily,1500.0,1970,99170.0,627527.0,"132,100",-84.585791,33.776927,332.708605,247925.0,153.111626,2017,2016
4123,483646.0,TYRONE,30290.0,153 Kenmare Row,5.0,10/25/2017,SingleFamily,3900.0,1970,75000.0,529900.0,"278,900",-84.621488,33.454599,9.563606,187500.0,182.613333,2017,2016

In [86]:
mean_diff=df3.groupby(['City','ZipCode'])['Difference'].mean().reset_index()
# mean_diff=mean_diff.rename(columns={'Two Year':'Diff_mean'})
mean_diff = mean_diff.sort_values(['Difference','City','ZipCode'], ascending=[False,True,True])

mean_diff.head(20)

      City  ZipCode  Difference
1  AUSTELL  30168.0  332.708605
2   CANTON  30115.0  127.546818
0   ATHENS  30606.0   60.812615
3   TYRONE  30290.0    9.563606

In [ ]:
mean_diff['Longitude']=mean_diff['Longitude'].astype(float)
mean_diff['Latitude']=mean_diff['Latitude'].astype(float)
mean_diff=mean_diff[mean_diff['Diff_mean']>0.2]

meandiff2=mean_diff[['Latitude','Longitude','ZipCode']]
meandiff2=meandiff2.dropna(how='any')
meandiff2['Longitude']=meandiff2['Longitude'].astype(float)
meandiff2['Latitude']=meandiff2['Latitude'].astype(float)

In [ ]:
marker_locations = meandiff2[['Latitude', 'Longitude']]

In [ ]:
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)

In [ ]:
fig