In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import re
import xml.etree.ElementTree as ET
import xmltodict
import collections
import itertools
from scipy import stats
import statsmodels.api as sm 

import matplotlib.pyplot as plt
from ratelimit import limits, sleep_and_retry
# Import API key

In [ ]:
StateSelected = ['GA']

In [ ]:
zipcodes=pd.read_csv('free-zipcode-database-Primary.csv')
zipcodes.head()

In [ ]:
gazipcodes= zipcodes[zipcodes.State.isin(StateSelected)]

In [ ]:
gazipcodes=gazipcodes.head(10)
len(gazipcodes)

## Perform API Calls

In [ ]:

#conn = http.client.HTTPSConnection("search.onboard-apis.com") 

params = { 
    'accept': "application/json", 
    'apikey': "9d078487e223b1c4d54c3f3a3f628803", 
}

In [ ]:
FullAddress=[]
Street=[]
CityStateZip=[]
Latitude=[]
Longitude=[]
pd.Series(FullAddress)
pd.Series(Latitude)
pd.Series(Longitude)
Data_set=pd.DataFrame({'FullAddress':pd.Series(FullAddress),'Street':pd.Series(Street),
                       'CityStateZip':pd.Series(CityStateZip),'Latitude':pd.Series(Latitude),'Longitude':pd.Series(Longitude)})
url=f"https://search.onboard-apis.com/propertyapi/v1.0.0/property/address?postalcode=postalcode&page=1&pagesize=100"
for index, row in gazipcodes.iterrows():
    postalcode=row['Zipcode']
    url=f"https://search.onboard-apis.com/propertyapi/v1.0.0/property/address?postalcode={postalcode}&page=1&pagesize=1000"
    res = requests.get(url,headers=params)
    data =json.loads(res.text)
    we=data
    try:
        d=pd.DataFrame(data['property'])
        d['FullAddress']=d['address'].apply(lambda a:a['oneLine'])
        d['Street']=d['address'].apply(lambda d:d['line1'])
        d['CityStateZip']=d['address'].apply(lambda d:d['line2'])
        d['Latitude']=d['location'].apply(lambda c:c['latitude'])
        d['Longitude']=d['location'].apply(lambda b:b['longitude'])
        datatoappend=d[['FullAddress','Street','CityStateZip','Latitude','Longitude']]
        Data_set=Data_set.append(datatoappend)
        
    
            
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [ ]:
Data_set.head()

In [ ]:
Data_set['Zilliw format add']=Data_set['Street'].replace(" ", "+",regex=True)
Data_set['Zilliw format Zipciy']=Data_set['CityStateZip'].replace(" ", "+",regex=True)

In [ ]:

DataSet=Data_set.head(100)

In [2]:
# C:\Users\cuong\Downloads\data_random3.csv
Data_set2 = pd.read_csv("C:/Users/cuong/Downloads/data_random3.csv")
Data_set2 = Data_set2.head(1000)
Data_set2

,Unnamed: 0,Unnamed: 0.1,FullAddress,Street,CityStateZip,Latitude,Longitude,Zilliw format add,Zilliw format Zipciy,Zestimate,LastSoldPrice,Year Built,totalRooms,finishedSqFt,useCode,zpid
0,457420,697,"8928 MYRTLE DR, DOUGLASVILLE, GA 30134",8928 MYRTLE DR,"DOUGLASVILLE, GA 30134",33.738083,-84.742154,8928+MYRTLE+DR,"DOUGLASVILLE,+GA+30134",,,,,,,
1,456217,504,"9926 HALE RIDGE RD, DILLARD, GA 30537",9926 HALE RIDGE RD,"DILLARD, GA 30537",34.982330,-83.343130,9926+HALE+RIDGE+RD,"DILLARD,+GA+30537",,,,,,,
2,326873,803,"218 MARTIN AVE, WHIGHAM, GA 39897",218 MARTIN AVE,"WHIGHAM, GA 39897",30.884749,-84.326086,218+MARTIN+AVE,"WHIGHAM,+GA+39897",,,,,,,
3,382990,673,"2012 HUNTINGDON CHASE, ATLANTA, GA 30350",2012 HUNTINGDON CHASE,"ATLANTA, GA 30350",33.961415,-84.356104,2012+HUNTINGDON+CHASE,"ATLANTA,+GA+30350",,,,,,,
4,129034,22,"2777 VICKERS CHURCH RD, ENIGMA, GA 31749",2777 VICKERS CHURCH RD,"ENIGMA, GA 31749",31.354921,-83.314682,2777+VICKERS+CHURCH+RD,"ENIGMA,+GA+31749",,,,,,,
5,35435,718,"3606 VICTORY ST, ALBANY, GA 31721",3606 VICTORY ST,"ALBANY, GA 31721",31.498731,-84.156099,3606+VICTORY+ST,"ALBANY,+GA+31721",,,,,,,
6,453497,802,"4934 LONGVIEW WALK, DECATUR, GA 30035",4934 LONGVIEW WALK,"DECATUR, GA 30035",33.710250,-84.188855,4934+LONGVIEW+WALK,"DECATUR,+GA+30035",,,,,,,
7,565066,879,"129 OUTBACK LN, RABUN GAP, GA 30568",129 OUTBACK LN,"RABUN GAP, GA 30568",34.958280,-83.411220,129+OUTBACK+LN,"RABUN+GAP,+GA+30568",,,,,,,
8,567835,698,"8730 HOMEWOOD CT, RIVERDALE, GA 30274",8730 HOMEWOOD CT,"RIVERDALE, GA 30274",33.517178,-84.396436,8730+HOMEWOOD+CT,"RIVERDALE,+GA+30274",,,,,,,
9,220349,949,"280 ALLEN RD, NAYLOR, GA 31641",280 ALLEN RD,"NAYLOR, GA 31641",31.005730,-83.089677,280+ALLEN+RD,"NAYLOR,+GA+31641",,,,,,,
10,351450,742,"2311 DELLWOOD DR NW, ATLANTA, GA 30305",2311 DELLWOOD DR NW,"ATLANTA, GA 30305",33.818254,-84.398095,2311+DELLWOOD+DR+NW,"ATLANTA,+GA+30305",,,,,,,
11,338789,267,"140 PROSPECT PL, ALPHARETTA, GA 30005",140 PROSPECT PL,"ALPHARETTA, GA 30005",34.060206,-84.227433,140+PROSPECT+PL,"ALPHARETTA,+GA+30005",,,,,,,
12,492476,49,"1204 SPAINARD BRANCH TRL, HIAWASSEE, GA 30546",1204 SPAINARD BRANCH TRL,"HIAWASSEE, GA 30546",34.827185,-83.743207,1204+SPAINARD+BRANCH+TRL,"HIAWASSEE,+GA+30546",,,,,,,
13,446505,815,"112 STONEGATE CT, DALLAS, GA 30157",112 STONEGATE CT,"DALLAS, GA 30157",33.817225,-84.874291,112+STONEGATE+CT,"DALLAS,+GA+30157",,,,,,,
14,118024,418,"ADAMS PARK, DRY BRANCH, GA 31020",ADAMS PARK,"DRY BRANCH, GA 31020",32.638460,-83.480220,ADAMS+PARK,"DRY+BRANCH,+GA+31020",,,,,,,
15,104638,947,"212 FIRETOWER RD, CUSSETA, GA 31805",212 FIRETOWER RD,"CUSSETA, GA 31805",32.294186,-84.720473,212+FIRETOWER+RD,"CUSSETA,+GA+31805",,,,,,,
16,532568,900,"3565 MAIN STATION DR SW, MARIETTA, GA 30008",3565 MAIN STATION DR SW,"MARIETTA, GA 30008",33.866862,-84.608182,3565+MAIN+STATION+DR+SW,"MARIETTA,+GA+30008",,,,,,,
17,261061,134,"3020 HOLMES CANNERY RD, SANDERSVILLE, GA 31082",3020 HOLMES CANNERY RD,"SANDERSVILLE, GA 31082",32.937760,-82.766624,3020+HOLMES+CANNERY+RD,"SANDERSVILLE,+GA+31082",,,,,,,
18,424188,597,"5858 CLEVELAND HWY, CLERMONT, GA 30527",5858 CLEVELAND HWY,"CLERMONT, GA 30527",34.465190,-83.783096,5858+CLEVELAND+HWY,"CLERMONT,+GA+30527",,,,,,,
19,391771,382,"613 FOREST PINE DR, BALL GROUND, GA 30107",613 FOREST PINE DR,"BALL GROUND, GA 30107",34.262862,-84.325536,613+FOREST+PINE+DR,"BALL+GROUND,+GA+30107",,,,,,,
20,614345,104,"11 LARK CIR SE, WHITE, GA 30184",11 LARK CIR SE,"WHITE, GA 30184",34.179886,-84.713148,11+LARK+CIR+SE,"WHITE,+GA+30184",,,,,,,
21,533813,138,"1383 VARNER RD, MARIETTA, GA 30062",1383 VARNER RD,"MARIETTA, GA 30062",33.955189,-84.511995,1383+VARNER+RD,"MARIETTA,+GA+30062",,,,,,,
22,346122,637,"637 VINE ST, ATHENS, GA 30601",637 VINE ST,"ATHENS, GA 30601",33.955081,-83.353868,637+VINE+ST,"ATHENS,+GA+30601",,,,,,,
23,348621,99,"150 RAINTREE CT, ATHENS, GA 30607",150 RAINTREE CT,"ATHENS, GA 30607",33.980691,-83.423716,150+RAINTREE+CT,"ATHENS,+GA+30607",,,,,,,
24,249865,969,"2123 DAVIDSON ST, RENTZ, GA 31075",2123 DAVIDSON ST,"RENTZ, GA 31075",32.383515,-82.993048,2123+DAVIDSON+ST,"RENTZ,+GA+31075",,,,,,,
25,533213,545,"3406 MILL STREAM LN SW, MARIETTA, GA 30060",3406 MILL STREAM LN SW,"MARIETTA, GA 30060",33.873030,-84.573151,3406+MILL+STREAM+LN+SW,"MARIETTA,+GA+30060",,,,,,,
26,301042,74,"1709 STRAND, TYBEE ISLAND, GA 31328",1709 STRAND,"TYBEE ISLAND, GA 31328",31.989416,-80.848270,1709+STRAND,"TYBEE+ISLAND,+GA+31328",,,,,,,
27,622334,83,"4847 HELGA WAY NE, WOODSTOCK, GA 30188",4847 HELGA WAY NE,"WOODSTOCK, GA 30188",34.070143,-84.530370,4847+HELGA+WAY+NE,"WOODSTOCK,+GA+30188",,,,,,,
28,73533,572,"54 OGDEN ST APT A, JEKYLL ISLAND, GA 31527",54 OGDEN ST APT A,"JEKYLL ISLAND, GA 31527",31.074780,-81.406186,54+OGDEN+ST+APT+A,"JEKYLL+ISLAND,+GA+31527",,,,,,,
29,49968,60,"2617 OVERLOOK DR, AUGUSTA, GA 30909",2617 OVERLOOK DR,"AUGUSTA, GA 30909",33.438479,-82.105325,2617+OVERLOOK+DR,"AUGUSTA,+GA+30909",,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,417600,63,"2266 GADSDEN RD SW, CAVE SPRING, GA 30124",2266 GADSDEN RD SW,"CAVE SPRING, GA 30124",34.085362,-85.417208,2266+GADSDEN+RD+SW,"CAVE+SPRING,+GA+30124",,,,,,,
971,547660,963,"51 LAMB RD, MORELAND, GA 30259",51 LAMB RD,"MORELAND, GA 30259",33.267683,-84.763127,51+LAMB+RD,"MORELAND,+GA+30259",,,,,,,
972,69129,169,"417 NEWCASTLE ST, BRUNSWICK, GA 31520",417 NEWCASTLE ST,"BRUNSWICK, GA 31520",31.134233,-81.490049,417+NEWCASTLE+ST,"BRUNSWICK,+GA+31520",,,,,,,
973,194674,340,"2988 MCMANUS RD, MACON, GA 31220",2988 MCMANUS RD,"MACON, GA 31220",32.831297,-83.739080,2988+MCMANUS+RD,"MACON,+GA+31220",,,,,,,
974,565790,603,"390 PHILOMATH RD, RAYLE, GA 30660",390 PHILOMATH RD,"RAYLE, GA 30660",33.786741,-82.903364,390+PHILOMATH+RD,"RAYLE,+GA+30660",,,,,,,
975,354670,962,"400 W PEACHTREE ST NW UNIT 1215, ATLANTA, GA 3...",400 W PEACHTREE ST NW UNIT 1215,"ATLANTA, GA 30308",33.765283,-84.387635,400+W+PEACHTREE+ST+NW+UNIT+1215,"ATLANTA,+GA+30308",,,,,,,
976,526527,299,"5044 YANKEE DOODLE DR, MCDONOUGH, GA 30252",5044 YANKEE DOODLE DR,"MCDONOUGH, GA 30252",33.390582,-84.125627,5044+YANKEE+DOODLE+DR,"MCDONOUGH,+GA+30252",,,,,,,
977,115423,817,"2467 DECATUR DR, DONALSONVILLE, GA 39845",2467 DECATUR DR,"DONALSONVILLE, GA 39845",30.801279,-84.827850,2467+DECATUR+DR,"DONALSONVILLE,+GA+39845",,,,,,,
978,238552,310,"1706 N L ST, PINE MOUNTAIN VALLEY, GA 31823",1706 N L ST,"PINE MOUNTAIN VALLEY, GA 31823",32.812798,-84.804854,1706+N+L+ST,"PINE+MOUNTAIN+VALLEY,+GA+31823",,,,,,,
979,181252,701,"580 WHIGHAM DR, LOUISVILLE, GA 30434",580 WHIGHAM DR,"LOUISVILLE, GA 30434",33.002786,-82.415938,580+WHIGHAM+DR,"LOUISVILLE,+GA+30434",,,,,,,
980,134666,30,"41 FIELD RD, FORT GAINES, GA 39851",41 FIELD RD,"FORT GAINES, GA 39851",31.525363,-84.968294,41+FIELD+RD,"FORT+GAINES,+GA+39851",,,,,,,
981,613669,428,"2040 SURRY RIDGE DR, WATKINSVILLE, GA 30677",2040 SURRY RIDGE DR,"WATKINSVILLE, GA 30677",33.748305,-83.436706,2040+SURRY+RIDGE+DR,"WATKINSVILLE,+GA+30677",,,,,,,
982,471529,38,"207 LAVENDER OASIS, PEACHTREE CITY, GA 30269",207 LAVENDER OASIS,"PEACHTREE CITY, GA 30269",33.344448,-84.531997,207+LAVENDER+OASIS,"PEACHTREE+CITY,+GA+30269",,,,,,,
983,97885,228,"3517 CALIFON CT, COLUMBUS, GA 31906",3517 CALIFON CT,"COLUMBUS, GA 31906",32.442787,-84.936275,3517+CALIFON+CT,"COLUMBUS,+GA+31906",,,,,,,
984,280859,432,"102 FOX ST, SPRINGFIELD, GA 31329",102 FOX ST,"SPRINGFIELD, GA 31329",32.353958,-81.300515,102+FOX+ST,"SPRINGFIELD,+GA+31329",,,,,,,
985,604564,371,"18720 HIGHWAY 106, TOCCOA, GA 30577",18720 HIGHWAY 106,"TOCCOA, GA 30577",34.465253,-83.302812,18720+HIGHWAY+106,"TOCCOA,+GA+30577",,,,,,,
986,175257,480,"1920 PATMOS MILFORD HWY, LEARY, GA 39862",1920 PATMOS MILFORD HWY,"LEARY, GA 39862",31.458230,-84.523180,1920+PATMOS+MILFORD+HWY,"LEARY,+GA+39862",,,,,,,
987,494901,459,"324 TIN BRIDGE RD, HOGANSVILLE, GA 30230",324 TIN BRIDGE RD,"HOGANSVILLE, GA 30230",33.129237,-84.924972,324+TIN+BRIDGE+RD,"HOGANSVILLE,+GA+30230",,,,,,,
988,509063,849,"106 HAMILTON LAKE VIEW CT, LAGRANGE, GA 30241",106 HAMILTON LAKE VIEW CT,"LAGRANGE, GA 30241",32.975654,-84.982982,106+HAMILTON+LAKE+VIEW+CT,"LAGRANGE,+GA+30241",,,,,,,
989,125653,554,"GROVANIA RD, ELKO, GA 31025",GROVANIA RD,"ELKO, GA 31025",32.338500,-83.737410,GROVANIA+RD,"ELKO,+GA+31025",,,,,,,
990,552794,0,"6116 SMOKEY RD, NEWNAN, GA 30263",6116 SMOKEY RD,"NEWNAN, GA 30263",33.259898,-84.927160,6116+SMOKEY+RD,"NEWNAN,+GA+30263",,,,,,,
991,82103,397,"5788 SHELTON LN, CAMILLA, GA 31730",5788 SHELTON LN,"CAMILLA, GA 31730",31.172532,-84.232649,5788+SHELTON+LN,"CAMILLA,+GA+31730",,,,,,,
992,393307,918,"616 CANNAFAX RD, BARNESVILLE, GA 30204",616 CANNAFAX RD,"BARNESVILLE, GA 30204",33.031066,-84.198504,616+CANNAFAX+RD,"BARNESVILLE,+GA+30204",,,,,,,
993,320837,297,"1110 ASSEMBLY ST, WAYCROSS, GA 31501",1110 ASSEMBLY ST,"WAYCROSS, GA 31501",31.198835,-82.344171,1110+ASSEMBLY+ST,"WAYCROSS,+GA+31501",,,,,,,
994,152036,160,"1798 BAY ROCKYFORD RD, HARTSFIELD, GA 31756",1798 BAY ROCKYFORD RD,"HARTSFIELD, GA 31756",31.166324,-83.915154,1798+BAY+ROCKYFORD+RD,"HARTSFIELD,+GA+31756",,,,,,,
995,412729,230,"277 RIVER RIDGE RD, CARNESVILLE, GA 30521",277 RIVER RIDGE RD,"CARNESVILLE, GA 30521",34.309344,-83.184443,277+RIVER+RIDGE+RD,"CARNESVILLE,+GA+30521",,,,,,,
996,503906,697,"10939 TARA VILLAGE WAY, JONESBORO, GA 30238",10939 TARA VILLAGE WAY,"JONESBORO, GA 30238",33.464128,-84.350052,10939+TARA+VILLAGE+WAY,"JONESBORO,+GA+30238",,,,,,,
997,580376,209,"395 AL ROBERTS RD, SENOIA, GA 30276",395 AL ROBERTS RD,"SENOIA, GA 30276",33.221947,-84.589068,395+AL+ROBERTS+RD,"SENOIA,+GA+30276",,,,,,,
998,196934,583,"1366 MANOR MILLWOOD RD N, MANOR, GA 31550",1366 MANOR MILLWOOD RD N,"MANOR, GA 31550",31.216218,-82.629356,1366+MANOR+MILLWOOD+RD+N,"MANOR,+GA+31550",,,,,,,
999,576449,290,"1081 INDIAN BEND DR, RUTLEDGE, GA 30663",1081 INDIAN BEND DR,"RUTLEDGE, GA 30663",33.580512,-83.566244,1081+INDIAN+BEND+DR,"RUTLEDGE,+GA+30663",,,,,,,

In [3]:
#Next is to feed the addresess to zillow api
# OpenWeatherMap API Key
# X1-ZWz18cbenu9jij_85kuc ----- Cuong API
zid = 'X1-ZWz1go72alddzf_8469v'
#api_key = api_keys.api_key

In [4]:
zpid=[]
zest=[]
addr =[]
city=[]
zipC=[]
type=[]
rooms=[]
sqft=[]
state=[]
lastsoldprice=[]
lastsolddate=[]
year_built=[]
c_value=[]
county=[]
lat =[]
lon =[]
Zindex =[]

for index, row in Data_set2.iterrows():
    add=row['Zilliw format add']
    statezip=row['Zilliw format Zipciy']
    params2=f'{add}&citystatezip={statezip}'
    url2 = f"http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id={zid}&address={params2}"

   
    response2 = requests.get(url2, params=params2)
 
    we=response2.content
   
    tree=ET.fromstring(we)
    results=tree.findall('./response/results/result')
    
    if len(results)!=0:
        re=results[0] 
        dic=xmltodict.parse(ET.tostring(re))
        try: 
            
             Zid=dic['result'].get('zpid',np.nan)
             zestimate=dic['result']['zestimate']['amount'].get('#text',np.nan)
             strt=dic['result']['address'].get('street',np.nan)
             zip=dic['result']['address'].get('zipcode',np.nan)
             cit=dic['result']['address'].get('city',np.nan)
             price=dic['result'].get('lastSoldPrice',np.nan)
             solddate=dic['result'].get('lastSoldDate',np.nan)
             room=dic['result'].get('bedrooms',np.nan)
             usecode=dic['result'].get('useCode',np.nan)
             sqftt=dic['result'].get('finishedSqFt',np.nan)
             yearbuilt=dic['result'].get('yearBuilt',np.nan)
             contyvalue=dic['result'].get('taxAssessment',np.nan)
             Zindx =dic['result'].get('localRealEstate',np.nan)
             year_built.append(yearbuilt)
             lati=dic['result']['address'].get('latitude',np.nan)
             longi=dic['result']['address'].get('longitude',np.nan)
             lon.append(longi)
             lat.append(lati)
             zest.append(zestimate)
             zpid.append(Zid)
             addr.append(strt)
             zipC.append(zip)
             city.append(cit)
             lastsoldprice.append(price)
             rooms.append(room)
             type.append(usecode)
             sqft.append(sqftt)
             c_value.append(contyvalue)
             lastsolddate.append(solddate)
             Zindex.append(Zindx)
             longi=[]
             lati=[]
             Zindx=[]
             solddate=[]
             zestimate=[]
             Zid=[]
             price=[]
             room=[]
             usecode=[]
             sqftt=[]
             cit=[]
             usecode=[]
             yearbuilt=[]
             contyvalue=[]
             strt=[]
             print(f'got it updating')
             
        except (KeyError, IndexError):
             print(skip)

got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating

got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating
got it updating

In [5]:
re

In [6]:
d=pd.DataFrame({'Zillow Id':pd.Series(zpid),'Zestimate':pd.Series(zest),'Street':pd.Series(addr),\
                'City':pd.Series(city),'ZipCode':pd.Series(zipC),'lastSold':pd.Series(lastsoldprice),\
                'Bedrooms':pd.Series(rooms),'typeofhome':pd.Series(type),'Squareft':pd.Series(sqft),\
              'YearBuilt':pd.Series(year_built),'CountTax':pd.Series(c_value),\
              'Latitude':pd.Series(lat),'Longitude':pd.Series(lon),'LastSoldDate':pd.Series(lastsolddate),\
                'Z_index':pd.Series(Zindex)})

In [7]:
df=d.drop_duplicates(['Zillow Id'])
df.head()

,Zillow Id,Zestimate,Street,City,ZipCode,lastSold,Bedrooms,typeofhome,Squareft,YearBuilt,CountTax,Latitude,Longitude,LastSoldDate,Z_index
0,14588549,164392,8928 Myrtle Dr,DOUGLASVILLE,30134,NaN,3,SingleFamily,1746,1958,116500.0,33.738242,-84.741662,NaN,"{'region': {'@id': '11140', '@name': 'Douglasv..."
1,110825062,362293,9926 Hale Ridge Rd,DILLARD,30537,NaN,3,SingleFamily,1633,1969,361964.0,34.98359,-83.34569,NaN,"{'region': {'@id': '13867', '@name': 'Sky Vall..."
2,232334682,47237,218 Martin Ave,Whigham,39897,NaN,0,SingleFamily,NaN,NaN,36507.0,30.885776,-84.327964,NaN,"{'region': {'@id': '34805', '@name': 'Whigham'..."
3,35921601,142369,2012 Huntingdon Chase,Sandy Springs,30350,"{'@currency': 'USD', '#text': '145500'}",2,MultiFamily2To4,1139,1984,78000.0,33.961652,-84.355741,05/16/2018,"{'region': {'@id': '13709', '@name': 'Sandy Sp..."
4,235422205,162988,2777 Vickers Church Rd,Enigma,31749,NaN,0,SingleFamily,1830,1986,116343.0,31.356431,-83.315602,NaN,"{'region': {'@id': '51913', '@name': 'Enigma',..."

In [ ]:
dic

In [8]:
df['LastSold']=df['lastSold'].apply(lambda l: l.get('#text', np.nan) if isinstance(l, dict) else np.nan)
df['Zindex']=df['Z_index'].apply(lambda l: l.get('region', np.nan) if isinstance(l, dict) else np.nan)
df['Z_index']=df['Zindex'].apply(lambda l: l.get('zindexValue', np.nan) if isinstance(l, dict) else np.nan)
df.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Zillow Id,Zestimate,Street,City,ZipCode,lastSold,Bedrooms,typeofhome,Squareft,YearBuilt,CountTax,Latitude,Longitude,LastSoldDate,Z_index,LastSold,Zindex
0,14588549,164392,8928 Myrtle Dr,DOUGLASVILLE,30134,NaN,3,SingleFamily,1746,1958,116500.0,33.738242,-84.741662,NaN,"140,700",NaN,"{'@id': '11140', '@name': 'Douglasville', '@ty..."
1,110825062,362293,9926 Hale Ridge Rd,DILLARD,30537,NaN,3,SingleFamily,1633,1969,361964.0,34.98359,-83.34569,NaN,NaN,NaN,"{'@id': '13867', '@name': 'Sky Valley', '@type..."
2,232334682,47237,218 Martin Ave,Whigham,39897,NaN,0,SingleFamily,NaN,NaN,36507.0,30.885776,-84.327964,NaN,NaN,NaN,"{'@id': '34805', '@name': 'Whigham', '@type': ..."
3,35921601,142369,2012 Huntingdon Chase,Sandy Springs,30350,"{'@currency': 'USD', '#text': '145500'}",2,MultiFamily2To4,1139,1984,78000.0,33.961652,-84.355741,05/16/2018,"454,500",145500,"{'@id': '13709', '@name': 'Sandy Springs', '@t..."
4,235422205,162988,2777 Vickers Church Rd,Enigma,31749,NaN,0,SingleFamily,1830,1986,116343.0,31.356431,-83.315602,NaN,NaN,NaN,"{'@id': '51913', '@name': 'Enigma', '@type': '..."
5,79990470,142417,4934 Longview Walk,DECATUR,30035,"{'@currency': 'USD', '#text': '83000'}",3,Condominium,1616,2007,69300.0,33.710242,-84.187993,05/05/2017,NaN,83000,NaN
6,231077411,598273,129 Outback Ln,Rabun Gap,30568,NaN,5,SingleFamily,4866,2003,506801.0,34.95391,-83.41794,NaN,NaN,NaN,NaN
7,35802880,72271,8730 Homewood Ct,RIVERDALE,30274,"{'@currency': 'USD', '#text': '73500'}",3,SingleFamily,1144,1972,48758.0,33.517438,-84.396231,08/20/1997,"87,300",73500,"{'@id': '6781', '@name': 'Riverdale', '@type':..."
8,246018892,201203,280 Allen Rd,Naylor,31641,"{'@currency': 'USD', '#text': '180000'}",0,SingleFamily,880,1945,191010.0,30.996066,-83.099844,01/12/2016,"125,200",180000,"{'@id': '8925', '@name': 'Naylor', '@type': 'c..."
9,35908173,873221,2311 Dellwood Dr NW,ATLANTA,30305,"{'@currency': 'USD', '#text': '699000'}",4,SingleFamily,2747,1940,740700.0,33.81821,-84.397855,04/23/2003,"1,249,500",699000,"{'@id': '403414', '@name': 'Peachtree Battle A..."

In [9]:
df.head()

,Zillow Id,Zestimate,Street,City,ZipCode,lastSold,Bedrooms,typeofhome,Squareft,YearBuilt,CountTax,Latitude,Longitude,LastSoldDate,Z_index,LastSold,Zindex
0,14588549,164392,8928 Myrtle Dr,DOUGLASVILLE,30134,NaN,3,SingleFamily,1746,1958,116500.0,33.738242,-84.741662,NaN,"140,700",NaN,"{'@id': '11140', '@name': 'Douglasville', '@ty..."
1,110825062,362293,9926 Hale Ridge Rd,DILLARD,30537,NaN,3,SingleFamily,1633,1969,361964.0,34.98359,-83.34569,NaN,NaN,NaN,"{'@id': '13867', '@name': 'Sky Valley', '@type..."
2,232334682,47237,218 Martin Ave,Whigham,39897,NaN,0,SingleFamily,NaN,NaN,36507.0,30.885776,-84.327964,NaN,NaN,NaN,"{'@id': '34805', '@name': 'Whigham', '@type': ..."
3,35921601,142369,2012 Huntingdon Chase,Sandy Springs,30350,"{'@currency': 'USD', '#text': '145500'}",2,MultiFamily2To4,1139,1984,78000.0,33.961652,-84.355741,05/16/2018,"454,500",145500,"{'@id': '13709', '@name': 'Sandy Springs', '@t..."
4,235422205,162988,2777 Vickers Church Rd,Enigma,31749,NaN,0,SingleFamily,1830,1986,116343.0,31.356431,-83.315602,NaN,NaN,NaN,"{'@id': '51913', '@name': 'Enigma', '@type': '..."

In [ ]:
df.columns

In [10]:
selected=['Zestimate', 'ZipCode',\
           'Bedrooms', 'typeofhome', 'Squareft', 'YearBuilt', 'CountTax',\
           'LastSold','Z_index']

In [12]:
dfreg=df[selected]

In [13]:
dfreg['typeofhome'].value_counts()

SingleFamily             446
Mobile                    62
VacantResidentialLand     14
Condominium               11
Townhouse                  4
Apartment                  3
MultiFamily2To4            3
Duplex                     2
Unknown                    1
Name: typeofhome, dtype: int64

In [14]:
dfreg

,Zestimate,ZipCode,Bedrooms,typeofhome,Squareft,YearBuilt,CountTax,LastSold,Z_index
0,164392,30134,3,SingleFamily,1746,1958,116500.0,NaN,"140,700"
1,362293,30537,3,SingleFamily,1633,1969,361964.0,NaN,NaN
2,47237,39897,0,SingleFamily,NaN,NaN,36507.0,NaN,NaN
3,142369,30350,2,MultiFamily2To4,1139,1984,78000.0,145500,"454,500"
4,162988,31749,0,SingleFamily,1830,1986,116343.0,NaN,NaN
5,142417,30035,3,Condominium,1616,2007,69300.0,83000,NaN
6,598273,30568,5,SingleFamily,4866,2003,506801.0,NaN,NaN
7,72271,30274,3,SingleFamily,1144,1972,48758.0,73500,"87,300"
8,201203,31641,0,SingleFamily,880,1945,191010.0,180000,"125,200"
9,873221,30305,4,SingleFamily,2747,1940,740700.0,699000,"1,249,500"
10,NaN,30157,0,SingleFamily,NaN,NaN,11000.0,225000,"132,700"
11,35444,31805,NaN,SingleFamily,1056,1972,43114.0,30000,NaN
12,100309,30008,3,Condominium,1184,1986,76290.0,25000,"255,900"
13,61255,31082,0,SingleFamily,1066,NaN,95209.0,NaN,NaN
14,346266,30107,4,SingleFamily,2386,2004,283100.0,269900,"233,100"
15,393225,30184,3,SingleFamily,2356,1983,340300.0,325000,NaN
16,209729,30062,3,SingleFamily,1729,1955,122570.0,NaN,"255,900"
17,93720,30601,3,SingleFamily,900,1968,49742.0,30000,"149,300"
18,417096,30607,NaN,SingleFamily,3908,1986,383613.0,NaN,"149,300"
19,24930,31075,0,Mobile,1248,1969,26252.0,NaN,NaN
20,181308,30060,3,SingleFamily,1769,1976,139590.0,134000,"255,900"
21,604225,31328,2,Condominium,2658,1984,567900.0,730000,"382,700"
22,216402,30188,3,SingleFamily,1620,1991,178360.0,190000,"213,400"
23,453615,31527,6,SingleFamily,2801,1965,371000.0,415000,NaN
24,NaN,30909,NaN,SingleFamily,NaN,NaN,9000.0,NaN,"54,800"
25,NaN,31022,0,SingleFamily,NaN,NaN,17600.0,15372,NaN
26,696175,30552,4,SingleFamily,3324,1967,381116.0,NaN,NaN
27,126251,30139,3,SingleFamily,1576,1975,69188.0,42000,"120,000"
28,46284,30035,2,Townhouse,1572,1973,21500.0,52000,NaN
29,18763,31778,NaN,SingleFamily,1075,1951,45730.0,12250,NaN
...,...,...,...,...,...,...,...,...,...
517,243360,30641,NaN,SingleFamily,2350,2006,193600.0,165000,"170,400"
518,341116,30568,3,SingleFamily,1491,1972,271819.0,NaN,NaN
519,46887,31568,0,SingleFamily,NaN,NaN,31272.0,120000,NaN
520,159827,30132,3,SingleFamily,1799,2015,140050.0,155000,"132,700"
521,42441,31320,0,SingleFamily,NaN,NaN,21080.0,NaN,NaN
522,179393,30680,3,SingleFamily,1285,2014,107533.0,118900,NaN
523,NaN,30033,1,Apartment,727,2017,NaN,NaN,"307,400"
524,132730,30213,3,SingleFamily,1430,2005,68400.0,75000,"125,600"
525,138173,30240,3,SingleFamily,1160,1976,132600.0,NaN,NaN
526,125655,30038,3,SingleFamily,1427,2002,93700.0,87000,"114,300"
527,NaN,31553,0,SingleFamily,1310,1948,196324.0,NaN,NaN
528,266177,30014,4,SingleFamily,2586,1952,174900.0,190000,"126,200"
529,41894,30528,NaN,Mobile,NaN,NaN,18310.0,NaN,"138,800"
530,184418,30252,3,SingleFamily,2135,2006,174900.0,175000,"166,800"
531,104130,31542,0,SingleFamily,2243,1965,103819.0,NaN,NaN
532,11474,31017,0,Mobile,576,1969,18168.0,NaN,NaN
533,55842,30757,NaN,SingleFamily,1488,1964,10300.0,NaN,NaN
534,27310,30218,3,SingleFamily,1104,1984,67820.0,NaN,"90,000"
535,318656,30731,0,SingleFamily,3604,1900,202748.0,NaN,NaN
536,237197,30268,3,SingleFamily,2319,1840,108900.0,NaN,NaN
537,155005,30252,3,SingleFamily,1577,1998,145900.0,97900,"166,800"
538,102297,30105,NaN,SingleFamily,1204,1986,63141.0,58000,"134,500"
539,65427,31520,3,SingleFamily,1178,1942,32200.0,NaN,"125,000"
540,NaN,30660,3,SingleFamily,1200,1971,20015.0,10,NaN
541,112195,31823,3,SingleFamily,1543,1936,109618.0,NaN,NaN
542,14589,30434,NaN,SingleFamily,1456,1918,12820.0,NaN,NaN
543,NaN,30677,0,SingleFamily,NaN,NaN,57130.0,400000,"240,600"
544,307954,30263,NaN,SingleFamily,2031,2001,201570.0,NaN,"173,900"
545,86425,30204,3,SingleFamily,1647,1997,45468.0,50000,NaN
546,208270,31756,0,SingleFamily,1716,1961,302963.0,NaN,NaN

In [15]:
dselect=dfreg[['Zestimate', 'Bedrooms','YearBuilt','Squareft', 'CountTax', 'LastSold']]
#dselect['Z_index']=pd.to_numeric(dselect['Z_index'],errors='coerce',downcast='integer')
dselect=dselect.dropna(how='any')
#X,Y=dselect['Zestimate'],dselect['Bedrooms','YearBuilt']
dselect['YearBuilt']=pd.to_numeric(dselect['YearBuilt'])

X = dselect[['Bedrooms','Squareft','Zestimate','CountTax']]
Y = dselect['LastSold']

In [16]:
X1 = sm.add_constant(X)
reg = sm.OLS(Y.astype(float), X1.astype(float)).fit()

reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               LastSold   R-squared:                       0.864
Model:                            OLS   Adj. R-squared:                  0.862
Method:                 Least Squares   F-statistic:                     344.9
Date:                Thu, 04 Oct 2018   Prob (F-statistic):           8.70e-93
Time:                        20:34:46   Log-Likelihood:                -2785.4
No. Observations:                 222   AIC:                             5581.
Df Residuals:                     217   BIC:                             5598.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.867e+04   1.39e+04     -2.068      0.040    -5.6e+04   -1350.664
Bedrooms    1.089e+04   4474.014      2.434      0.016    2073.750    1.97e+04
Squareft     -12.7067      7.742     -1.641      0.102     -27.967       2.553
Zestimate      0.4983      0.074      6.705      0.000       0.352       0.645
CountTax       0.4190      0.100      4.194      0.000       0.222       0.616
==============================================================================
Omnibus:                       58.473   Durbin-Watson:                   2.138
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              240.078
Skew:                          -0.981   Prob(JB):                     7.38e-53
Kurtosis:                       7.702   Cond. No.                     1.22e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
plt.scatter(X,Y)
plt.ylabel('Zestimate')
plt.xlabel('Bedrooms')
plt.show()

In [17]:
df.to_csv("CuongPart3.csv")