In [243]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import re
import xml.etree.ElementTree as ET
import xmltodict
import collections
import itertools
from ratelimit import limits, sleep_and_retry
# Import API key

In [3]:
StateSelected = ['GA']

In [4]:
zipcodes=pd.read_csv('free-zipcode-database-Primary.csv')
zipcodes.head()

   Zipcode State
0      705    PR
1      610    PR
2      611    PR
3      612    PR
4      601    PR

In [54]:
gazipcodes= zipcodes[zipcodes.State.isin(StateSelected)]

In [166]:
gazipcodes=gazipcodes.head()

## Perform API Calls

In [56]:

#conn = http.client.HTTPSConnection("search.onboard-apis.com") 

params = { 
    'accept': "application/json", 
    'apikey': "9d078487e223b1c4d54c3f3a3f628803", 
}

In [174]:
FullAddress=[]
Latitude=[]
Longitude=[]
pd.Series(FullAddress)
pd.Series(Latitude)
pd.Series(Longitude)
Data_set=pd.DataFrame({'FullAddress':pd.Series(FullAddress),'Street':pd.Series(Street),'CityStateZip':pd.Series(CityStateZip),'Latitude':pd.Series(Latitude),'Longitude':pd.Series(Longitude)})

In [175]:
Data_set

Empty DataFrame
Columns: [FullAddress, Street, Latitude, Longitude]
Index: []

In [240]:
FullAddress=[]
Street=[]
CityStateZip=[]
Latitude=[]
Longitude=[]
pd.Series(FullAddress)
pd.Series(Latitude)
pd.Series(Longitude)
Data_set=pd.DataFrame({'FullAddress':pd.Series(FullAddress),'Street':pd.Series(Street),'CityStateZip':pd.Series(CityStateZip),'Latitude':pd.Series(Latitude),'Longitude':pd.Series(Longitude)})
url=f"https://search.onboard-apis.com/propertyapi/v1.0.0/property/address?postalcode=postalcode&page=1&pagesize=100"
for index, row in gazipcodes.iterrows():
    postalcode=row['Zipcode']
    url=f"https://search.onboard-apis.com/propertyapi/v1.0.0/property/address?postalcode={postalcode}&page=1&pagesize=1000"
    res = requests.get(url,headers=params)
    data =json.loads(res.text)
    we=data
    try:
        d=pd.DataFrame(data['property'])
        d['FullAddress']=d['address'].apply(lambda a:a['oneLine'])
        d['Street']=d['address'].apply(lambda d:d['line1'])
        d['CityStateZip']=d['address'].apply(lambda d:d['line2'])
        d['Latitude']=d['location'].apply(lambda c:c['latitude'])
        d['Longitude']=d['location'].apply(lambda b:b['longitude'])
        datatoappend=d[['FullAddress','Street','CityStateZip','Latitude','Longitude']]
        Data_set=Data_set.append(datatoappend)
        
    
            
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [163]:
DataSet

                              FullAddress   Latitude   Longitude
0         7125 NEW DALE RD, REX, GA 30273  33.559885  -84.276087
1         7119 NEW DALE RD, REX, GA 30273  33.559890  -84.276315
2         7113 NEW DALE RD, REX, GA 30273  33.559938  -84.276546
3         7131 NEW DALE RD, REX, GA 30273  33.559940  -84.275868
4         7137 NEW DALE RD, REX, GA 30273  33.560013  -84.275674
5         7107 NEW DALE RD, REX, GA 30273  33.560015  -84.276705
6         7145 NEW DALE RD, REX, GA 30273  33.560123  -84.275450
7         7122 NEW DALE RD, REX, GA 30273  33.560157  -84.276172
8         7110 NEW DALE RD, REX, GA 30273  33.560218  -84.276493
9         7132 NEW DALE RD, REX, GA 30273  33.560220  -84.275918
10        7153 NEW DALE RD, REX, GA 30273  33.560232  -84.275226
11        7101 NEW DALE RD, REX, GA 30273  33.560233  -84.276907
12        7140 NEW DALE RD, REX, GA 30273  33.560315  -84.275706
13        3451 OAK LEAF CT, REX, GA 30273  33.560338  -84.277482
14        7161 NEW DALE RD, REX, GA 30273  33.560341  -84.275002
15        3447 OAK LEAF CT, REX, GA 30273  33.560364  -84.277438
16        3443 OAK LEAF CT, REX, GA 30273  33.560381  -84.277410
17        7148 NEW DALE RD, REX, GA 30273  33.560424  -84.275482
18        7095 NEW DALE RD, REX, GA 30273  33.560426  -84.277003
19        7169 NEW DALE RD, REX, GA 30273  33.560450  -84.274777
20        7156 NEW DALE RD, REX, GA 30273  33.560533  -84.275258
21        3460 OAK LEAF CT, REX, GA 30273  33.560548  -84.277693
22        7177 NEW DALE RD, REX, GA 30273  33.560560  -84.274553
23        3452 OAK LEAF CT, REX, GA 30273  33.560595  -84.277612
24        3465 OAK LEAF CT, REX, GA 30273  33.560622  -84.276736
25        3448 OAK LEAF CT, REX, GA 30273  33.560626  -84.277554
26        7164 NEW DALE RD, REX, GA 30273  33.560642  -84.275034
27        7183 NEW DALE RD, REX, GA 30273  33.560655  -84.274380
28        3473 OAK LEAF CT, REX, GA 30273  33.560675  -84.276572
29        3481 OAK LEAF CT, REX, GA 30273  33.560727  -84.276409
..                                    ...        ...         ...
970      6865 GLEN HUNT CT, REX, GA 30273  33.566895  -84.291495
971    3483 WELLINGTON TER, REX, GA 30273  33.566918  -84.277114
972    2782 MAPLE GROVE DR, REX, GA 30273  33.566919  -84.299566
973  3694 BRISTOL OVERLOOK, REX, GA 30273  33.566920  -84.270458
974      6858 AMETHYST AVE, REX, GA 30273  33.566921  -84.279155
975  3644 BRISTOL OVERLOOK, REX, GA 30273  33.566924  -84.272042
976   3262 POPLAR RIDGE DR, REX, GA 30273  33.566934  -84.283345
977     6988 BISCAYNE BLVD, REX, GA 30273  33.566935  -84.268080
978        6866 FIELDER CT, REX, GA 30273  33.566938  -84.293559
979      6863 AMETHYST AVE, REX, GA 30273  33.566944  -84.279485
980    3489 WELLINGTON TER, REX, GA 30273  33.566948  -84.277056
981      6858 GLEN HUNT CT, REX, GA 30273  33.566952  -84.291168
982      6857 GLEN HUNT CT, REX, GA 30273  33.566956  -84.291497
983      6864 AMETHYST AVE, REX, GA 30273  33.566956  -84.279155
984     3208 ROCK CREEK DR, REX, GA 30273  33.566958  -84.285673
985        6865 FIELDER CT, REX, GA 30273  33.566962  -84.293888
986     6979 BISCAYNE BLVD, REX, GA 30273  33.566976  -84.267670
987    3495 WELLINGTON TER, REX, GA 30273  33.566978  -84.276998
988      6869 AMETHYST AVE, REX, GA 30273  33.566979  -84.279485
989      6870 AMETHYST AVE, REX, GA 30273  33.566990  -84.279155
990        6858 FIELDER CT, REX, GA 30273  33.567008  -84.293557
991    3501 WELLINGTON TER, REX, GA 30273  33.567008  -84.276940
992      6850 GLEN HUNT CT, REX, GA 30273  33.567013  -84.291170
993      6876 AMETHYST AVE, REX, GA 30273  33.567024  -84.279155
994        6857 FIELDER CT, REX, GA 30273  33.567032  -84.293886
995  3688 BRISTOL OVERLOOK, REX, GA 30273  33.567036  -84.270311
996     6994 BISCAYNE BLVD, REX, GA 30273  33.567036  -84.268198
997    3507 WELLINGTON TER, REX, GA 30273  33.567038  -84.276882
998     3202 ROCK CREEK DR, REX, GA 30273  33.567039  -84.285810
999        6867 FIELDER RD, REX, GA 30273  33.567050  -84.292635

[1000 rows x 3 columns]

In [340]:
Data_set['Zestimate']=" "
Data_set['LastSoldPrice']=" "
Data_set['Year Built']=" "
Data_set['Nof of Bathrooms']=" "
Data_set['No of Bedrooms']=" "
Data_set.head()

,FullAddress,Street,CityStateZip,Latitude,Longitude,new,Zilliw format add,Zilliw format Zipciy,Zestimate,LastSoldPrice,Year Built,Nof of Bathrooms,No of Bedrooms
0,"109 TAYLOR BRIDGE RD SW, CALHOUN, GA 30701",109 TAYLOR BRIDGE RD SW,"CALHOUN, GA 30701",34.417930,-84.937120,109+TAYLOR+BRIDGE+RD+SW,109+TAYLOR+BRIDGE+RD+SW,"CALHOUN,+GA+30701",,,,,
1,"137 TAYLOR BRIDGE RD SW # A, CALHOUN, GA 30701",137 TAYLOR BRIDGE RD SW # A,"CALHOUN, GA 30701",34.418477,-84.937531,137+TAYLOR+BRIDGE+RD+SW+#+A,137+TAYLOR+BRIDGE+RD+SW+#+A,"CALHOUN,+GA+30701",,,,,
2,"137 TAYLOR BRIDGE RD SW, CALHOUN, GA 30701",137 TAYLOR BRIDGE RD SW,"CALHOUN, GA 30701",34.418477,-84.937531,137+TAYLOR+BRIDGE+RD+SW,137+TAYLOR+BRIDGE+RD+SW,"CALHOUN,+GA+30701",,,,,
3,"314 ROBBINS CREEK TRL SW, CALHOUN, GA 30701",314 ROBBINS CREEK TRL SW,"CALHOUN, GA 30701",34.420551,-84.983000,314+ROBBINS+CREEK+TRL+SW,314+ROBBINS+CREEK+TRL+SW,"CALHOUN,+GA+30701",,,,,
4,"310 ROBBINS CREEK TRL SW, CALHOUN, GA 30701",310 ROBBINS CREEK TRL SW,"CALHOUN, GA 30701",34.420560,-84.983002,310+ROBBINS+CREEK+TRL+SW,310+ROBBINS+CREEK+TRL+SW,"CALHOUN,+GA+30701",,,,,

In [338]:
Data_set['Zilliw format add']=Data_set['Street'].replace(" ", "+",regex=True)
Data_set['Zilliw format Zipciy']=Data_set['CityStateZip'].replace(" ", "+",regex=True)

In [264]:
#Next is to feed the addresess to zillow api
# OpenWeatherMap API Key
api_key = 'X1-ZWz18cayvld3pn_8gte4'
#api_key = api_keys.api_key

# Starting URL for Weather Map API Call
#url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key 

#url = f"http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id={api_key}&address=109 TAYLOR BRIDGE RD SW&citystatezip=CALHOUN GA 30701"  
url = f"http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id={api_key}&address=5888+Colonnade+Drive&citystatezip=Rex,+GA+30273"

In [343]:
response =requests.get(url)

w=response.content

In [274]:
test=Data_set.head()
#url = f"http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id={api_key}&address=5888+Colonnade+Drive&citystatezip=Rex,+GA+30273"
url2 = f"http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id={api_key}&address={params}"

for index, row in test.iterrows():
    # get city, lat, lng from df
    # change location each iteration 
    add=row['Zilliw format add']
    statezip=row['Zilliw format Zipciy']
    
    # Use the search term: "International Airport" and our lat/lng
    params=f'{add}&citystatezip={statezip}'
   

    # make request and print url
    response2 = requests.get(url2, params=params)
    

    we = response2.content
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    #time.sleep(1)
#     # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
#     try:
#         city_data.loc[index, "Temperature"] = response['main']['temp_max']
#         city_data.loc[index, "Humidity"] =response['main']['humidity']
#         city_data.loc[index, "Cloudiness"] = response['clouds']['all']
#         city_data.loc[index, "WindSpeed"] =response['wind']['speed']
#         print(f'found data upating table')
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")

In [275]:
we

b'<?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd https://www.zillowstatic.com/vstatic/18f7df5/static/xsd/SearchResults.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>310 ROBBINS CREEK TRL SW</address><citystatezip>CALHOUN, GA 30701</citystatezip></request><message><text>Request successfully processed</text><code>0</code></message><response><results><result><zpid>76450055</zpid><links><homedetails>https://www.zillow.com/homedetails/310-Robbins-Creek-Trl-SW-Calhoun-GA-30701/76450055_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/310-Robbins-Creek-Trl-SW-Calhoun-GA-30701/76450055_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/76450055_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/76450055_zpid/</comparables></links><address><street>310 Robbins Creek Trl SW</street><zipcode>30701</zipcode><city>CALHOUN</city><state>GA</state><latitude>34.419226</latitude><longitude>-84.981278</longitude></address><FIPScounty>13129</FIPScounty><useCode>SingleFamily</useCode><taxAssessmentYear>2017</taxAssessmentYear><taxAssessment>723300.0</taxAssessment><yearBuilt>2002</yearBuilt><lotSizeSqFt>571507</lotSizeSqFt><finishedSqFt>7838</finishedSqFt><bathrooms>7.0</bathrooms><bedrooms>6</bedrooms><totalRooms>12</totalRooms><zestimate><amount currency="USD">867350</amount><last-updated>09/30/2018</last-updated><oneWeekChange deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">94575</valueChange><valuationRange><low currency="USD">728574</low><high currency="USD">1275005</high></valuationRange><percentile>0</percentile></zestimate><localRealEstate><region name="Adairsville" id="3312" type="city"><zindexValue>124,300</zindexValue><links><overview>http://www.zillow.com/local-info/GA-Adairsville/r_3312/</overview><forSaleByOwner>http://www.zillow.com/adairsville-ga/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/adairsville-ga/</forSale></links></region></localRealEstate></result></results></response></SearchResults:searchresults><!-- H:030  T:105ms  S:1131  R:Sun Sep 30 16:57:55 PDT 2018  B:5.0.56469-master.7c8da2e~delivery_ready.08ee7f5 -->'

In [389]:
tree=ET.fromstring(we)
tree

In [386]:
results=tree.findall('./response/results/result')
results

In [396]:
re=results[0]
dic=xmltodict.parse(ET.tostring(re))
#df=pd.DataFrame(dic['results'])
#zillow_data=pd.DataFrame(dic['result'])
#zipd=f'{zillow_data.iloc[0,0]}'
#zillow_data.iloc[0,-1]['#text']
#zestimate_dic=zillow_data.iloc[0,-2]
#zestimate=next(itertools.islice(zestimate_dic.values(), 1, 2)) 
dic['result']['lastSoldPrice']
dic['result']['zestimate']['amount']
dic['result']['totalRooms']

'9'

In [388]:
dic[]

,zpid,links,address,FIPScounty,useCode,taxAssessmentYear,taxAssessment,yearBuilt,finishedSqFt,bathrooms,bedrooms,totalRooms,lastSoldDate,lastSoldPrice,zestimate,localRealEstate
#text,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,128000,NaN,NaN
@currency,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,USD,NaN,NaN
amount,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,"{'@currency': 'USD', '#text': '155359'}",NaN
city,62029907,NaN,REX,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
comparables,62029907,http://www.zillow.com/homes/comps/62029907_zpid/,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
graphsanddata,62029907,http://www.zillow.com/homedetails/5888-Colonna...,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
homedetails,62029907,https://www.zillow.com/homedetails/5888-Colonn...,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
last-updated,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,09/30/2018,NaN
latitude,62029907,NaN,33.59376,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
longitude,62029907,NaN,-84.269527,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
mapthishome,62029907,http://www.zillow.com/homes/62029907_zpid/,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
oneWeekChange,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,{'@deprecated': 'true'},NaN
percentile,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,0,NaN
region,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,"{'@id': '26739', '@name': 'Rex', '@type': 'cit..."
state,62029907,NaN,GA,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
street,62029907,NaN,5888 Colonnade Dr,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN
valuationRange,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,"{'low': {'@currency': 'USD', '#text': '147591'...",NaN
valueChange,62029907,NaN,NaN,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,"{'@currency': 'USD', '@duration': '30', '#text...",NaN
zipcode,62029907,NaN,30273,13063,SingleFamily,2017,99647.0,2004,2254,2.5,4,9,05/06/2008,NaN,NaN,NaN

In [380]:
zid=ddd['amount']['zpid']
ddd

,#text,@currency,amount,city,comparables,graphsanddata,homedetails,last-updated,latitude,longitude,mapthishome,oneWeekChange,percentile,region,state,street,valuationRange,valueChange,zipcode
zpid,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907,62029907
links,NaN,NaN,NaN,NaN,http://www.zillow.com/homes/comps/62029907_zpid/,http://www.zillow.com/homedetails/5888-Colonna...,https://www.zillow.com/homedetails/5888-Colonn...,NaN,NaN,NaN,http://www.zillow.com/homes/62029907_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,NaN,NaN,NaN,REX,NaN,NaN,NaN,NaN,33.59376,-84.269527,NaN,NaN,NaN,NaN,GA,5888 Colonnade Dr,NaN,NaN,30273
FIPScounty,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063,13063
useCode,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily,SingleFamily
taxAssessmentYear,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
taxAssessment,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0,99647.0
yearBuilt,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004,2004
finishedSqFt,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254,2254
bathrooms,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
bedrooms,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
totalRooms,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
lastSoldDate,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008,05/06/2008
lastSoldPrice,128000,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zestimate,NaN,NaN,"{'@currency': 'USD', '#text': '155359'}",NaN,NaN,NaN,NaN,09/30/2018,NaN,NaN,NaN,{'@deprecated': 'true'},0,NaN,NaN,NaN,"{'low': {'@currency': 'USD', '#text': '147591'...","{'@currency': 'USD', '@duration': '30', '#text...",NaN
localRealEstate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'@id': '26739', '@name': 'Rex', '@type': 'cit...",NaN,NaN,NaN,NaN,NaN